server:
  port: 8090

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true

bank:
  simulator:
    url: http://localhost:8080
    connect-timeout: 10s
    read-timeout: 10s

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    prometheus:
      enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
  tracing:
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: http://localhost:4318/v1/traces
  metrics:
    tags:
      application: payment-gateway

resilience4j:
  circuitbreaker:
    instances:
      bankClient:
        failure-rate-threshold: 50
        slow-call-duration-threshold: 3s
        slow-call-rate-threshold: 80
        wait-duration-in-open-state: 30s
        permitted-number-of-calls-in-half-open-state: 3
        sliding-window-size: 10
        register-health-indicator: true

rate-limit:
  post:
    capacity: 200
    refill-rate: 100
  get:
    capacity: 1000
    refill-rate: 500
