server:
  port: 8090

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true

bank:
  simulator:
    url: http://localhost:8080
    connect-timeout: 10s
    read-timeout: 10s

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    prometheus:
      enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
  tracing:
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: http://localhost:4318/v1/traces
  metrics:
    tags:
      application: payment-gateway
