<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <springProfile name="!docker">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <layout class="com.checkout.payment.gateway.logging.MaskingPatternLayout">
        <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%thread] [%mdc] %cyan(%logger{36}) — %msg%n</pattern>
      </layout>
    </appender>

    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="docker">
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="com.checkout.payment.gateway.logging.MaskingJsonEncoder"/>
    </appender>

    <root level="INFO">
      <appender-ref ref="JSON_CONSOLE"/>
    </root>
  </springProfile>
</configuration>
